#quintendt {
   overflow-x: hidden;
   h1 {
      font-size: 5rem;
      color: brown;
      font-family: 'Times New Roman', Times, serif;
   }
   p {
      color: black;
      font-weight: 700;
      max-width: 40rem;
      z-index: 1;
      margin: 1rem;
   }
   
   .box {
      z-index: 1;
   }
   .part1 {
      background-color: white;
      text-align: center;
      .field {
         width: 100%;
         height: 100vh;
         overflow-x: hidden;
         display: flex;
         background-image: url(../assets/AmF-field-background.png);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         z-index: -1;
         text-align: center;
         align-items: center;
         justify-content: center;
      }
   }
   .part2 {
      height: 100vh;
      background-color: white;
      text-align: center;
      .gif {
         height: 30vh;
      }
      .history {
         text-align: start;
      }
      .facts{
         text-align: end;
         justify-content: end;
         margin-left: 57vw;
      }
   }
   
}