body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.circle {
    width: 10vh;
    height: 10vh;
    background-color: blue;
    border-radius: 50%;
    animation-name: zoom ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}


@keyframes zoom{
    0% {
        transform:scale(1);
        top:0;
        left:0;

    }
    33% {
        transform:scale(3);
        top:80vh;
        left:50vw;

    }
    66% {
        transform:scale(1);
        top:0;
        left:95vw;
    }

}
.square{
    width: 30vh;
    height: 30vh;
    background-color: green;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;
    display: flex;
}
.square:hover {
    transform: perspective(1000px) rotateY(50deg) skew(10deg, 10deg);
}